@use "./variables" as var;
@use 'sass:math';

%section {
  padding-top: (var.$gutter-base * 2);
  padding-bottom: (var.$gutter-base * 2);

  @media (max-width: 768px) {
    padding-top: (var.$gutter-base);
    padding-bottom: (var.$gutter-base);
  }
}


%wrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 999px) {
    width: 100%;
    padding-left: math.div(var.$gutter-base, 2);
    padding-right: math.div(var.$gutter-base, 2);
  }
}