@use 'sass:math';

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base: 'Roboto', sans-serif;

$font-size-small: rem-calc(13);
$font-size-base: rem-calc(16);
$font-size-medium: rem-calc(18);

$heading-size-tiny: rem-calc(20);
$heading-size-small: rem-calc(28);
$heading-size-big: rem-calc(33);
$heading-size-bigger: rem-calc(50);

$line-height-base: 1.5;
$line-height-small: 1;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;

// Size settings
$gutter-base: rem-calc(30);
$border-radius-small: rem-calc(4);
$border-radius-big: rem-calc(15);
$border-radius-bigger: rem-calc(25);

// Color settings
$text-color-base: #414a4f;
$text-color-primary: #000;
$text-color-secondary: #fff;
$text-color-tertiary: #b3b7b9;

$background-color-base: #fff;
$background-color-primary: #f7f7f7;
$background-color-secondary: #414a4f;
$background-color-tertiary: #2196f3;

$border-color-primary: #2196f3;
$border-color-secondary: #a9a9a9;
